:root{
  --nav-height: 4rem;
  --nav-margin-top: 2rem;
  --nav-max-width: var(--app-max-width);
  --nav-min-width: var(--app-min-width);
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  min-width: var(--nav-min-width);
  width: 100%;
  max-width: var(--nav-max-width);
  padding: 0 1.5rem;
  margin-top: var(--nav-margin-top);
  border-radius: 0.75rem;
  background-color: var(--deepshadow);
  color: inherit;
}

.navbar-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding-right: 1.5rem;
  border-right: 3px solid var(--shadow);
}

.navbar-title h1{
  width: 10.69rem;
  font-family: 'Montserrat';
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--highlight);
}

.navbar-title h1 span{
  font-size: 2.25rem;
}

.navbar-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  list-style: none;
}

.navbar-list li{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.navbar-configs{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60%;
  padding-left: 1.5rem;
  border-left: 3px solid var(--shadow);
  gap: 1.5rem;
  list-style: none;
}

.navbar-configs li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}