.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.home-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
}

.home-title span + span {
    font-size: 4.5rem;
}

.home-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    align-items: baseline;
    color: var(--shadow);
}

.home-description{
    width: 100%;
    text-align: center;
    font-weight: 200;
    line-height: 1.3rem;
}

.home-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.home-button{
    min-width: fit-content;
    padding: 0.5rem 3.5rem;
    justify-self: center;
    border-radius: 10rem;
    border: none;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.075), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    font-size: 1.125rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--black);
    background-color: var(--light);
}

.social-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.social-bar li{
    color: var(--shadow);
}