:root{
  --app-min-width: 769px;
  --app-max-width: 55.626rem;
  --border-radius-L1: 0.75rem;
}

.app{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.page-title{
  font-size: 2rem;
  color: var(--white);
}

.my-name{
  font-size: 3.5rem;
}

.alankenet{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.simple-capsule{
  padding: 0.125rem 0.625rem;
  border-radius: 10rem;
  border: none;
  color: var(--highlight);
  background-color: var(--base);
  font-family: inherit;
  font-size: 0.75rem;
}