:root{
  --border-radius-L1: 0.75rem;
  --viewer-widht: 55.625rem;
}

.app{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-viewer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--viewer-widht);
  color: inherit;
  overflow: hidden;
}

.content-section{
  width: 100%;
  min-height: calc(100dvh - var(--nav-height));
  border-radius: 1.5rem;
  background-color: var(--deepshadow);
}

.page-title{
  font-size: 2rem;
  color: var(--white);
}

.my-name{
  font-size: 3.5rem;
}

.alankenet{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.simple-capsule{
  padding: 0.125rem 0.625rem;
  border-radius: 10rem;
  border: none;
  color: var(--highlight);
  background-color: var(--base);
  font-family: inherit;
  font-size: 0.75rem;
}