:root{
  /* --black: #020408;
  --deepshadow: #0a1229;
  --shadow: #182c62;
  --neutro: #3359cc;
  --light: #99ade6;
  --highlight: #d6def5;
  --white: #f7f8fd; */

  /* --white: #F5F5F5;
  --light: #FAF3E0;
  --neutro: #F4A460;
  --shadow: #4A4A4A;
  --black: #333333;
  --color-1: #FF5722;
  --color-2: #FFAB40;
  --color-3: #2196F3;
  --color-4: #90A4AE; */

  /* --black: #1A1A1A;
  --shadow: #4D4D4D;
  --neutro: #8C8C8C;
  --light: #C2C2C2;
  --white: #E6E6E6; */

  --black-pure: black;
  --black: #0A0A0A;
  --shadow: #242424;
  --neutro: #666666;
  --light: #DBDBDB;
  --white: #F5F5F5;
  --white-pure: white;


  background-color: var(--white);
}

html{
  font-size: 16px;/* 1rem = 16px */
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body{
  font-family: 'Karla', sans-serif;
  line-height: 135%;
  color: var(--black);
}

a{
  text-decoration: none;
  color: inherit;
}