.about-card{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 110%;
  color: var(--shadow);
}

.small .about-card h1{
  font-size: 1rem;
  font-weight: 500;
}

.mid .about-card h1{
  font-size: 1.125rem;
  font-weight: 700;
}

.big .about-card h1{
  font-size: 1.5rem;
  font-weight: 700;
}