.experience-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
}

.experience-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.experience-header h1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-family: 'Montserrat';
}

.current-title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--shadow);
    transition: all 0.1s;
}

.title{
    font-size: 1.25rem;
    color: var(--neutro);
    transition: all 0.2s;
}

.title-0 {
    grid-column: 1;
    text-align: end;
    font-size: 1.25rem;
    color: var(--neutro);
}

.title-1 {
    grid-column: 3;
    font-size: 2rem;
    font-weight: 700;
    color: var(--shadow);
}

.title-2 {
    grid-column: 5;
    text-align: start;
    font-size: 1.25rem;
    color: var(--neutro);
}

.experience-main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem

}
