.experience-card{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: var(--white-pure);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.075), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

/* Jobs */

.jobs-card{
    min-height: calc(225px + 1.5rem);
}

.jobs-card aside{
    width: 25%;
    font-size: 0.75rem;
    color: var(--neutro);
}

.jobs-card div{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.jobs-card header{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.jobs-card header h1 {
    line-height: 110%;
    font-size: 1.125rem;
    font-weight: 600;
} 

.jobs-card header span{
    font-size: 0.75rem;
    line-height: 135%;
    color: var(--neutro);
}

.jobs-card p{
    font-size: 0.875rem;
    font-style: italic;
    line-height: 135%;
    font-weight: 500;
    color: var(--shadow);
}

.jobs-card footer{
    margin-top: auto;
    display: flex;
}

.jobs-card footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
}

/* Projects */

.projects-card{
    min-height: calc(225px + 1.5rem);
}

.projects-card aside{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-card img{
    height: 100%;
    max-height: calc(225px - 1.5rem);
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.075), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.projects-card div{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.projects-card header{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.projects-card header h1 {
    line-height: 110%;
    font-size: 1.125rem;
    font-weight: 600;
} 

.projects-card header span{
    font-size: 0.75rem;
    line-height: 135%;
    color: var(--neutro);
}

.projects-card p{
    font-size: 0.875rem;
    font-style: italic;
    line-height: 135%;
    font-weight: 500;
    color: var(--shadow);
}

.projects-card footer{
    margin-top: auto;
    display: flex;
}

.projects-card footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
}